@import "./scss/variable";
@import "./scss/shop";
@import "./scss/user-profile";
@import "./scss/user-profile-mobile";
@import "./scss/location";
@import "./scss/single-item";
@import "./scss/cart";
@import "./scss/about-us";
@import "./scss/prescription";
@import "./scss/all-shops-style";
@import "./scss/specials";
@import "./scss/filter";
@import "./scss/search";
@import "./scss/contact-us";
@import "./scss/gift-card";
@import "./scss/gender-search";


:root {
  box-sizing: border-box;
}

:root {
  --swiper-theme-color: #006a4e;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
  html, body{
    position: relative;
    height: 100%;
  }
 body {
  font-family: 'Comfortaa', sans-serif !important;
  z-index: -1;
  background-color: rgb(253, 253, 253);
  
  

  
  a{
    text-decoration: none;
  }

  h2{
    font-weight: 700 !important;
    font-size: 1.5em;
  }

  .location-card {

    .location{

      h2{
        margin-top: .5em;
      }
      p{
        margin: 1em 0;
        font-size: .8em;
        padding: 0 2em;
      }
    }
    

    .hide-on-destop {
      display: none;
    }

    img {
      width: 100%;
      display: block;
      transition: all 0.5s linear;
      overflow: hidden;
      height: 15em;

    }

    button {
      padding: 0.2em 4em;
    }
  }

 button{
   margin-top: .5em;
    outline: none;
    background-color: $main-green;
    color: $main-white;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
    transition: all 0.5s linear;
    font-weight: bold;
    font-size: 1em;
    display: flex;
    border: none;
   

    &:hover {
      color: $main-green;
      background-color: transparent;
      border: 0.1em solid $main-green;
      border: none;
    }
  }

  .title {
    width: 50%;
    height: 10vh;
    margin: auto;
    margin-top: 2em;
   

    p{
      text-align: center;
      font-size: .8em;
      padding-top: .5em;
      font-weight: bold;
    }

    .title_inner {
      text-align: center;
    }

    .title_underline {
      width: 3em;
      height: 0.1em;
      margin: auto;
      margin-top: .5em;
      background-color: $main-style;
      display: flex;
    }
  }

  .hero-page {
    margin-top: 2.3em;
    width: 100%;
    position: relative;
    background-color: $main-green;
    
    span{
      color: $main-style;
      font-size: 2.5em;
      display: block;
     
    }

    .free{
      display: block;
      font-size: 1em;
      padding:  .1em 0;
      line-height: 1em;
    }
    

    .hero-image {
      img {
        width: 100%;
        height: 20em;
      }
      
    }

    .hero-title {
      position: absolute;
      top: 5em;
      left: 2em;
      width: 40%;
      color: $main-white;
      text-align: center;
      text-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5);

      .title-move{
        // transform: translateX(-110%);
        transition: all .5s linear;
    
        &.title-open{
          transform: translateX(0);
        }
      }

      
      button {
        background-color: $main-white;
        color: $main-green;
        padding: .2em 1.5em .2em .5em;
        margin-top: 1em;

        .arrow{
          font-size: 1.3em;
          margin-left: .5em;
        }

        &:hover {
          background-color: $main-green;
          color: $main-white;
        }
      }

       h2 {
        font-size: 1.8em;
        }
    }
  }

  header {
    background-color: $main-white;
    position: relative;

    

    .nav-links {
      position: fixed;
      top: 2.2em;
      background-color: $main-white;
      height: 90vh;
      width: 30%;
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: auto;
      transform: translateX(-110%);
      transition: all 0.5s ease-in-out;
      z-index: 1000;
      overflow: auto;

      &.open {
        transform: translateX(0%);
      }

      & > li + li {
        margin-bottom: 1.5em;
        border-top: 0.3em solid $green-lite;
        padding: 0.5em;
      }

      li {
        i {
          margin-right: 0.5em;
        }
      }

      .nav-link {
        text-decoration: none;
        color: $main-text-gray;
        font-size: 1em;
        display: block;
        transition: all 0.4s ease-in-out;
        font-weight: 700;
        

        &:hover {
          color: $green-lite;
          font-size: 1.2em;
          font-style: italic;
        }
      }

      .search-link {
        display: none;
      }
    }

   

    .hamburger {
      position: relative;
      cursor: pointer;
      transition: 0.5s linear;
      margin-bottom: .5em;
    }

    .hamburger::before{
      width: .8em;
      height: 0.15em;
      background-color: $main-text-gray;
      border-radius: 0.5em;
      transition: all .5s linear;

           
    }
    .hamburger::after,
    .hamburger {
      width: 1.3em;
      height: 0.15em;
      background-color: $main-text-gray;
      border-radius: 0.5em;
      transition: all .5s linear;

          
    }

    .hamburger::after,
    .hamburger::before {
      content: "";
      position: absolute;
    }

    .hamburger::before {
      top: 0.4em;
    }
    .hamburger::after {
      bottom: 0.5em;
    }

    .menu-bar {
      transition: all 0.5s linear;
   

    }

    .menu-bar.ham-open .hamburger {
      transform: rotate(45deg);
    }

    .menu-bar.ham-open .hamburger::after {
      transform: rotate(90deg) translate(40%);
    }

    .menu-bar.ham-open .hamburger::before {
      opacity: 0;
    }

    .promo-nav{
      width: 100%;
      background-color: rgb(0, 0, 0);
      height: 8vh;
      display: none;

      .nav{
        height: 5vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding-top: .8em;
        margin: auto;

        
        a{
          color: $main-white;
          text-decoration: none;

          button{
           width: 7.5em;
            height: 1em;
            margin: 0 1em ;
            font-size: .7em;
            padding: .8em ;
            align-items: center;

            &:hover{
              background-color: $main-white;
              color: $main-green;
            }
          }
        }
        h5{
          font-size: .6em;
          
          font-weight: bold;
        }
      }
      &.promo-open{
        transform: translateY(-120%);
      }
    }

    

    .nav-style {
      position: fixed;
      width: 100%;
      top: 0em;
      height: 8vh;
      background-color: $main-white;
      z-index: 20;
      box-shadow: .1em .1em .1em rgba(0, 0, 0, 0.1);
      
      
    }

    .nav_bar {
      display: flex;
      width: 80%;
      margin: auto;
      align-items: center;
      justify-content: space-around;
      color: $main-text-gray;
      font-size: 1em;
      background-color: $main-white;
      height: 8vh;
      padding-top: .3em;
      cursor: pointer;

      
      .profile_icon{

       i{
        transition: all .5s linear;

          &:hover {
          color: $main-green;
          font-style: italic;
          }
        }
      }

      .data_bar {
        display: flex;
        height: 100%;
        align-items: center;

        .search {
          margin-left: 1em;
          i {
            color: $main-text-gray;
            transition: all .5s linear;

            &:hover {
            color: $main-green;
            font-style: italic;
            }
          }
        }
      }

      .logo {
        a {
          img {
            width: 10em;
            height: 1.5em;
           margin: .5em 0 1em 0;
            display: block;

          }
        }
            

      }


      .social_bar {
        display: flex;
        cursor: pointer;

        
        .shopping_bar{
        
          i{
            color: $main-text-gray;

            transition: all .5s linear;

            &:hover {
            color: $main-green;
            font-style: italic;
            }
          }
        
        }

        div {
          margin-left: 1em;
        }
      }
    }
  }
  .footer {
    

    .mail-list {
      padding: 2em;
      background-color: $main-style;
      clip-path: polygon(17% 34%, 100% 24%, 100% 100%, 0 100%, 0 23%);
      width: 100%;
      transition: 0.5s linear;

      &:hover {
        clip-path: polygon(77% 34%, 100% 24%, 100% 100%, 0 100%, 0 23%);
      }
      .mail-list-inner {
        display: flex;
        flex-direction: column;
        height: 15em;
        width: 80%;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 8em;

        p{
          margin: .5em 0;
          padding: 0 .5em;
        }
        

        .form-style{
          display: flex;
          justify-content: center;
          background-color: $main-white;
          border-radius: 0.2em;
          width: 60%;
          align-items: center;
          margin: auto !important;
          height: 2em;

          form {
            margin-top: 1em;
            flex: 8;

            input {
              outline: none;
              border: none;
              padding-bottom: .5em;
              margin-bottom:1.5em;
              
             &::placeholder{
               color: rgb(117, 117, 117);
             }
            }
          }

          .mail-icon, .move-icon{
            flex: 1;
            font-size: 1.5em;
            color: rgb(117, 117, 117);
          }

          .mail-icon{
            padding-left: .5em;
            color: rgb(117, 117, 117);
            
          }
        }

      }
    }

    .main-footer {
      background-color: $main-green;
      width: 100%;
      height: 10em;

      .main-footer-inner{
        max-height: 1em !important;

        .footer-title{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em 0;
          background-color: $main-green;

          h6{
            color: $main-white;
            font-weight: bold;
            
          }
        }

        .accordion{
          background-color: $main-green;
          font-size: 1em !important;
          margin: 0;
          color: $main-white; 
          word-spacing: .2em !important;

          .active, .accordion:hover {
            background-color: $main-white ; 
          }
        }

        .panel{
          background-color: $main-white; 
          padding: 0;

          div{
            display: flex;
            color: $main-text-gray;
            justify-content: space-evenly;

            a{
              font-weight: bold;
              display: block;
              border: .1em solid $main-green;
              padding: 1em;
              color: $main-text-gray;
           
            }
          }
        }
        .mobile-div{
        h2{
          padding: 3em 1em ;
          color: $main-white;
        }
        }
      }

    }
  }
  .mobile-card {
    display: none;

    .swiper-container {
      width: 100%;
      height: 45em;
  
      .swiper-pagination-bullets{
        // padding-top: 7em !important;
        .swiper-pagination-bullet{
          width: 1em;
          height: .5em;
        }
      }
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
      
    }
  
  }
  

  .thanks-section {
    margin-top: 4em;
    background-color: $main-green;
    color: $main-white;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 20%,
      100% 80%,
      100% 95%,
      17% 79%,
      0 86%,
      0% 20%
    );

    .thanks-section-inner {
      display: flex;
      color: $main-white;

      .thanks-img {
        flex: 1;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .thanks-info {
        flex: 1;
        padding: 1em;
        margin-bottom: 1em;
        padding-bottom: 2em;

        .title{
          margin-top: 0 !important;

        }

        p {
          font-size: .6em;
          line-height: 1.6;
         
        }

        button {
          color: $main-white;
          border: 0.2em solid $main-white;
          width: 30%;
          margin-top: 1em;
          padding: .5em 0 .5em 1em;

          &:hover {
            color: $main-green;
            background-color: $main-white;
          }
        }
      }
    }
  }

  .follower-section {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    p{
      font-size: .8em;
      padding: .4em;
    }

    .credit-card{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      i{
        color: $main-style;
        margin-left: 1em;
      }
    }

    .warning{
      color: red;
    }
    

    .follower-section-inner {
      display: flex;
      margin-bottom: 1em;

      .contactus{
        margin-top: 2em;
        font-style: italic;
        font-size: 1em;
      }
     .social-follower{
      width: 50%;
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: #333;
        i {
          font-size: 1.5em;
          margin-left: 0.5em;
        }
      }
     }
    }
  }

  @keyframes cdp-in {
    from {
      transform: scale(1.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .cdp {
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-size: 0;
    z-index: 6;
    margin: 50px 0;
    
    animation: cdp-in 500ms ease both;
    animation-timeout: 200ms;
  
    &_i {
      font-size: 14px;
      text-decoration: none;
      
      transition: background 250ms;
      
      display: inline-block;
      text-transform: uppercase;
      margin: 0 3px 6px;
      height: 38px;
      min-width: 38px;
      border-radius: 38px;
      border: 2px solid #fff;
      line-height: 38px;
      padding: 0;
      color: $main-green;
      font-weight: 700;
      letter-spacing: .03em;
      display: none;
  
      &:first-child,
      &:last-child {
        padding: 0 16px;
        margin: 0 12px 6px;
      }
  
      &:last-child,
      &:nth-child(2),
      &:nth-last-child(2) {
        display: inline-block;
      }
    }
  
    &_i:hover {
      background-color: $main-green;
      color: #fff;
    }
  
    &:not([actpage="1"]) &_i:nth-child(1) {
      display: inline-block;
    }
  }
  @for $i from 1 through 80 {
    .cdp[actpage="#{$i}"] {
      // 3 before
      .cdp_i:nth-child(#{$i - 2}):not(:first-child):not(:nth-child(2)) {
        display: inline-block;
        pointer-events: none;
        color: transparent;
        border-color: transparent;
        width: 50px;
        &:after {
          content: '...';
          color: #fff;
          font-size: 32px;
          margin-left: -6px;
        }
      }
      // 2 before
      .cdp_i:nth-child(#{$i - 1}):not(:first-child) {
        display: inline-block;
      }
      // before
      .cdp_i:nth-child(#{$i}):not(:first-child) {
        display: inline-block;
      }
      // active
      .cdp_i:nth-child(#{$i + 1}) {
        background-color: $main-green;
        color: #fff;
        display: inline-block;
  
        +.cdp_i:last-child {
          display: none !important;
        }
      }
      // next
      .cdp_i:nth-child(#{$i + 2}):not(:last-child) {
        display: inline-block;
      }
      // 2 next
      .cdp_i:nth-child(#{$i + 3}):not(:last-child) {
        display: inline-block;
      }
      // 3 next
      .cdp_i:nth-child(#{$i + 4}):not(:last-child):not(:nth-last-child(2)) {
        display: inline-block;
        pointer-events: none;
        color: transparent;
        border-color: transparent;
        width: 50px;
        &:after {
          content: '...';
          color: $main-green;
          font-size: 32px;
          margin-left: -6px;
        }
      }
    }
  }
  
  .check-filter{
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
   
   
      .filter-tab{
        display: none;
      }
    
    
      .check-filter-btn{
        cursor: pointer;
        position: absolute;
         right: 0;
       
        h4{
          font-size: .8em;
          z-index: -1;
          margin-right: 3em;

          span{
            font-weight: bold;
            font-size: 1em;
            color: $main-green;
          }
          
        }  
      }
      .sort-ul{
       display: none;
        list-style: none;
        background-color: $main-white;
        box-shadow: 0em 0em .3em rgba(0,0,0,0.2);
        position: absolute;
        left: 40em;
        top: 1.3em;
        z-index: 1000;
        cursor: pointer;
  
        li{
         
          a{
  
            background-color: $main-white;
            padding:  .5em .5em;
            font-size: .8em;
            display: block;
            color :$main-text-gray;
            transition: all .5s linear;
  
            &:hover{
              background-color: $main-green;
              color: $main-white;
            }
  
           
          }
        }

        &.sort-open{
         display: block;
        }
         
      }
  }
}

@media screen and (max-width: 40em) {
  body {

    button{
      font-size: 1.3em !important;
    }
   
    .check-filter{
      
      //  overflow: hidden;
        .filter-tab{
          display: block;
          position: absolute;
         left: 0em;
         top: -1em;
  
         button{
           padding: .2em 1em;
           font-size: 1.3em;
           
           i{
             margin-left: .5em;
             margin-top: .2em;
           }
         }
  
        }
        .check-filter-btn{
          h4{
            font-size: 1.1em;
            margin-right: .5em;
          }
        }
        .sort-ul{
          left: 10em;
          // overflow: hidden;
          top: 2em ;
          left: .3em;
          font-size: 1.2em;
          width: 13em;
          height: 9em;
          padding: 2em;
        }
      }
      
      .card-style{
    
        .shop_card{
          .item-underline{
          
            width: 100%;
            height: .05em;
            background-color: rgb(196, 196, 196);
          
         }
        }
        
        .shop-card-mobile{
          margin-top: 2em;
          display: block;
       
        }
        
      }
    
      .items{
        display: none;
      }

    .promo-nav{
      display: none;
      .promo-btn, .terms{
        display: none;
      }
      .nav{
        h5{
          margin-top: 3em;
          font-size: 1em !important;
        }
      }
    }
    .nav-style{
      
    }
    .nav_bar{
      
      .data_bar{
        .menu-bar{
          font-size: 1.3em;
          margin: 0 1em .5em 0;
        }
      }
    }
    .footer{
      .main-footer-inner{
        max-height: 1em !important;

        .footer-title{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em 0;
          background-color: $main-green;

          h6{
            color: $main-white;
            font-weight: bold;
            
          }
        }

        .accordion{
          background-color: $main-green;
          font-size: 1em !important;
          margin: 0;
          color: $main-white; 
          word-spacing: .2em !important;

          .active, .accordion:hover {
            background-color: $main-white ; 
          }
        }

        .panel{
          background-color: $main-white; 
          padding: 0;

          div{
            display: flex;
            flex-direction: column;
            color: $main-text-gray;


            a{
              font-weight: bold;
              display: block;
              border: .1em solid $main-green;
              padding: 1em;
              color: $main-text-gray;
           
            }
          }
        }
        .mobile-div{
        h2{
          padding: 3em 1em ;
          color: $main-white;
        }
        }
      }
      .mail-list{
        padding: 4em 0;
        height: 10em;
        .mail-list-inner{
          position: relative;
          width: 100%;
          padding-top: 0;
          h2{
            font-size: 1em;
            position: absolute;
            top: .5em;
          }

          p{
            margin: 1em 0;
            line-height: 1.6em;
            padding: 0 .5em;
            display: none;
          }
          .form-style{
            width: 95%;
            height: 3em;
            position: absolute;
            top: 2.2em;
            
            form{
              input{
                padding-left: .5em;
                margin-bottom:1em;
                font-size: .8em;
                background-color: transparent;
                
                &::placeholder{
                  font-size: 1.4em !important;
                }
              }
            }
          }
        }
      }
    }
    .thanks-section {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 20%,
        100% 80%,
        100% 95%,
        18% 85%,
        0 86%,
        0% 20%
      );
      .thanks-section-inner {
        display: block;
       

        .thanks-img{
          img{
            height: 20em;
          }
        }

        .thanks-info {
          padding: .5em;
          padding-bottom: 9em;

          p{
            font-size: 1em;
          }
          .mybtn{
            width: 8em;
            font-size: 1.5em;
            padding: .2em .5em;
          }
        }
      }
    }

    .mobile-card {
      display: block;

      .location{

        .location-img{
          img{
            height: 20em;

              
          }
        }

        h2{
          margin-top: .5em;
          font-size: 2.4em !important;
        }
        p{
          font-size: 1.2em;
          padding: 0 1em 0;
          
        }
      }
     
    }

    button {
      padding: .5em 1em;
    
    }

    .best-sellers {
      height: 100vh;
    }
    .hero-page {
      height: 30em;
      overflow: hidden;
      span{
   
        font-size: 1em;
       
      }
  
      .free{
        
        font-size: .8em;
      
      }

      img{
        margin-top: 10em;
        width: 100% !important;
      
       margin-bottom: 3em;
       
      }
      .hero-title {
       
        top: 8em !important;
        width: 100%;
        font-size: .8em;

        .bigger-on-mobile{
          font-size: 3em !important;
          margin: 0 1em 0 0 ;
        }
      

        h4{
          display: none;
        }
      

        h2 {
          font-size: 2em;
          margin-right: 7em;
         
        }

        button {
          padding: 0.5em 1em;
          margin: 1em ;
          margin-left: 0;
         
        }
      }
    }
  }
  .search {
    display: none;
  }
  
   
     
  

  .nav-links-style {
    .nav-links {
      width: 60%;
      z-index: 11;
      top: 2.5em;
      font-size: 1.2em;
      font-weight: bold;



      .search-link {
        display: block;
        padding: 1em 0.5em;
      }
    }
  }
  .hide-on-mobile {
    display: none;
  }

  .hamburger{
    margin-top: .6em;
    font-size: .9m;
  }
  .follower-section{
    line-height: 1.4em;
    .credit-card{
      display: block !important;
      margin: .5em 0;
      margin-left: -.5em;
    }
  .follower-section-inner{
    width: 100%;
    display: block !important;

    .contactus{
      button{
        margin-left: 3em;
        padding: .5em 1em;
      }
    }

    .social-follower{
      width: 100% !important;
     
    }
   
  }
  }
  .title{
    width: 100% !important;
    padding: .2em;
    line-height: 1.6;
    margin-bottom: 2em !important;
    p{
      font-size: 1em;
    }
  }

} 

