.card-style {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(13em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
  padding: .1em;
  grid-gap: .5em;
  font-size: 1.1em;
  text-align: center;
}

.card-style .shop_card {
  padding: .2em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.card-style .shop_card > * + * {
  margin-top: 1em;
}

.card-style .shop_card .shop_item_info {
  text-align: center;
}

.card-style .shop_card .shop-image {
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.card-style .shop_card .shop-image img {
  width: 100%;
  display: block;
}

.card-style .shop-card-mobile {
  display: none;
}

@media screen and (min-width: 40em) {
  .card-style {
    width: 95%;
    margin: auto;
  }
  .shop-card-mobile {
    display: block;
  }
}

@media screen and (max-width: 40em) {
  .card-style .shop-card-mobile {
    margin-top: 2em;
    display: block;
  }
}

.user-profile {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  width: 40%;
  margin: auto;
  padding: 1em;
  background-color: white;
  position: fixed;
  top: 3em;
  right: 1em;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  z-index: 100011;
}

.user-profile .login-form input, .user-profile .create-form input {
  width: 100%;
  outline: none;
  border-radius: .5em;
  margin-bottom: .5em;
  height: 2.8em;
  border: .1em solid gray;
}

.user-profile .login-form .input-btn, .user-profile .create-form .input-btn {
  border: none;
  color: white;
  background-color: #006a4e;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.user-profile .login-form .input-btn:hover, .user-profile .create-form .input-btn:hover {
  background-color: transparent;
  border: 0.1em solid #006a4e;
  color: #006a4e;
}

.user-profile .login-form {
  margin-bottom: 2em;
}

.user-profile .login-form .form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-profile .login-form .checkbox {
  width: 10%;
  height: 1em;
}

.user-profile .login-form input:checked {
  background-color: #fca74c !important;
}

.user-profile .login-form .checkbox-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.user-profile.user-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (max-width: 40em) {
  .user-profile {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    width: 90%;
    top: 8em;
  }
}

.search-page .search-items {
  margin-top: 5em;
  width: 100%;
  position: relative;
}

.search-page .search-items .search-items-inner {
  padding: 1em;
  width: 80%;
  height: 10vh;
  background-color: #62b88a;
  margin: auto;
  border-radius: .5em;
  position: fixed;
  right: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-page .search-items .search-items-inner form input, .search-page .search-items .search-items-inner form select {
  width: 100%;
  outline: none;
  border: none;
  border-radius: .2em;
  padding-left: .5em;
}

.search-page .search-items .search-items-inner form label {
  color: white;
}

.search-page .shop-items {
  padding-top: 10em;
}

.search-page .shop-items h5 {
  margin-left: 4em;
}

#single-item {
  margin-top: 5em;
}

.single-item-info-inner {
  font-size: 2em !important;
  width: 30%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.item-btn {
  width: 30%;
  margin: 1em auto;
}

.item-btn button {
  width: 100%;
  background-color: #fca74c;
  border: none;
  color: white;
}

.item-btn button:hover {
  background-color: #fc9b33;
}

.item-fav {
  border: 0.03em solid #fca74c;
  padding: .5em;
  height: 1.2em;
  position: relative;
  width: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: .2em;
}

.item-fav i {
  font-size: 2.1em;
  color: #fca74c;
}

.item-desc {
  width: 80%;
  margin: auto;
  padding-top: 2em;
}

.item-desc h4 {
  font-weight: bold;
}

.item-desc h6 {
  font-size: 1.1em;
  line-height: 1.6;
}

@media screen and (max-width: 40em) {
  #single-item .single-item-info-inner {
    width: 100%;
    padding: 1em;
  }
  #single-item .single-item-info-inner .item-things {
    width: 70%;
  }
  #single-item .item-btn {
    width: 70%;
  }
  #single-item .item-btn button {
    padding: 1em;
  }
  .item-desc {
    width: 80%;
    margin: auto;
  }
}

.cart-page {
  width: 100%;
  margin-top: 5em;
  font-size: 1em;
  padding: 2em;
  font-weight: bold;
}

.cart-page button {
  font-size: .8em !important;
  padding-left: 3em;
}

.cart-page h5 {
  font-weight: bold;
}

.cart-page .cart-page-title {
  margin-left: .5em;
  margin-bottom: 3em;
}

.cart-page .cart-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.cart-page .cart-inner .cart-details {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page .cart-inner .cart-details .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-page .cart-inner .cart-details .cart-btn button {
  margin-left: .5em;
}

.cart-page .cart-inner .cart-summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f3f3f3;
  padding: .5em;
  width: 100%;
}

.cart-page .cart-inner .cart-summary .line {
  width: 100%;
  height: .1em;
  background-color: grey;
  margin: .5em 0;
}

.cart-page .cart-inner .cart-summary .checkbox-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.cart-page .cart-inner .cart-summary .checkbox-btn button {
  width: 100%;
  background-color: #bdbdbd;
  text-align: center;
  padding-left: 6em;
}

.cart-page .cart-inner .cart-summary .cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart-page .cart-inner .cart-summary .cart-btn button {
  background-color: #fca74c;
  width: 100% !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page .cart-inner .cart-summary .cart-btn button i {
  text-align: center;
  padding: 1em;
}

.cart-page .cart-inner .cart-summary .cart-subtotal,
.cart-page .cart-inner .cart-summary .cart-order-total,
.cart-page .cart-inner .cart-summary .cart-shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 30em) {
  .cart-page {
    margin-top: 8em;
  }
  .cart-page .cart-page-title {
    margin-bottom: 3em;
  }
  .cart-page .cart-inner {
    display: block;
  }
  .cart-page .cart-inner .cart-summary {
    display: none;
  }
}

.gender-search {
  background-color: violet;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Comfortaa', sans-serif !important;
}

body .container {
  width: 100%;
  height: 100%;
}

body .container .container-slider {
  height: auto;
}

body h2 {
  font-weight: 700 !important;
  font-size: 2em;
}

body .location-card {
  margin-top: 3em;
}

body .location-card .hide-on-destop {
  display: none;
}

body .location-card img {
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  overflow: hidden;
}

body .location-card img:hover {
  -webkit-transform: scaleX(0.1);
          transform: scaleX(0.1);
}

body .location-card button {
  padding: 0.2em 4em;
}

body .mybtn {
  margin-top: .5em;
  outline: none;
  background-color: #006a4e;
  color: white;
  -webkit-box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-weight: bold;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .mybtn:hover {
  color: #006a4e;
  background-color: transparent;
  border: 0.1em solid #006a4e;
  border: none;
}

body .title {
  width: 80%;
  height: 10vh;
  margin: 1em auto;
}

body .title p {
  text-align: center;
}

body .title .title_inner {
  text-align: center;
}

body .title .title_underline {
  width: 5em;
  height: 0.2em;
  margin: auto;
  margin-top: 1em;
  background-color: #fca74c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .hero-page {
  margin-top: 5em;
  width: 100%;
  position: relative;
  background-color: #006a4e;
}

body .hero-page span {
  color: #fca74c;
  font-size: 1.1em;
  display: block;
  padding: .4em;
}

body .hero-page .free {
  display: block;
  font-size: 1em;
  padding: .1em 0;
  line-height: 1em;
}

body .hero-page .hero-image img {
  width: 100%;
  height: 29em;
}

body .hero-page .hero-title {
  position: absolute;
  top: 6em;
  left: 2em;
  width: 40%;
  color: white;
  text-align: center;
  text-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5);
}

body .hero-page .hero-title .title-move {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

body .hero-page .hero-title .title-move.title-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body .hero-page .hero-title button {
  background-color: #006a4e;
  color: white;
}

body .hero-page .hero-title button:hover {
  background-color: white;
  color: #006a4e;
}

body .hero-page .hero-title h2 {
  font-size: 2.5em;
}

body header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body header .nav-links-scrollbar {
  background-color: #006a4e;
}

body header .nav-links {
  position: fixed;
  top: 4em;
  background-color: #006a4e;
  height: 90vh;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: auto;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}

body header .nav-links.open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body header .nav-links > li + li {
  margin-bottom: 1.5em;
  border-top: 0.3em solid #62b88a;
  padding: 0.5em;
}

body header .nav-links li i {
  margin-right: 0.5em;
}

body header .nav-links .nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
}

body header .nav-links .nav-link:hover {
  color: #62b88a;
  font-size: 1.2em;
}

body header .nav-links .search-link {
  display: none;
}

body header .hamburger {
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  margin-bottom: .5em;
}

body header .hamburger,
body header .hamburger::after,
body header .hamburger::before {
  width: 1.3em;
  height: 0.15em;
  background-color: #006a4e;
  border-radius: 0.5em;
}

body header .hamburger::after,
body header .hamburger::before {
  content: "";
  position: absolute;
}

body header .hamburger::before {
  top: 0.4em;
}

body header .hamburger::after {
  bottom: 0.5em;
}

body header .menu-bar {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

body header .menu-bar.ham-open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body header .menu-bar.ham-open .hamburger::after {
  -webkit-transform: rotate(90deg) translate(40%);
          transform: rotate(90deg) translate(40%);
}

body header .menu-bar.ham-open .hamburger::before {
  opacity: 0;
}

body header .promo-nav {
  width: 100%;
  background-color: black;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 21;
}

body header .promo-nav .nav {
  height: 5vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 1.5em;
  margin: auto;
}

body header .promo-nav .nav a {
  color: white;
}

body header .promo-nav .nav a button {
  width: 8em;
  height: 1.5em;
  margin: 0 1em;
  font-size: .8em;
  padding: 1.3em .5em 1em .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .promo-nav .nav a button:hover {
  background-color: white;
  color: #006a4e;
}

body header .promo-nav .nav h5 {
  font-size: .8em;
  font-weight: bold;
}

body header .promo-nav.promo-open {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

body header .nav-style {
  position: fixed;
  width: 100%;
  top: 3em;
  height: 8vh;
  background-color: white;
  z-index: 20;
  -webkit-box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
          box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1);
}

body header .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #006a4e;
  font-size: 1.5em;
  background-color: white;
  height: 8vh;
  padding-top: .5em;
}

body header .nav_bar .data_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .nav_bar .data_bar .search {
  margin-left: 1em;
}

body header .nav_bar .data_bar .search i {
  color: #006a4e;
}

body header .nav_bar .logo a img {
  width: 10em;
  height: 1.5em;
  margin: .5em 0 1em 0;
  display: block;
}

body header .nav_bar .social_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

body header .nav_bar .social_bar .shopping_bar i {
  color: #006a4e;
}

body header .nav_bar .social_bar div {
  margin-left: 1em;
}

body .footer {
  margin-top: 3em;
}

body .footer .mail-list {
  padding: 2em;
  background-color: #fca74c;
  -webkit-clip-path: polygon(17% 34%, 100% 24%, 100% 100%, 0 100%, 0 23%);
          clip-path: polygon(17% 34%, 100% 24%, 100% 100%, 0 100%, 0 23%);
  width: 100%;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

body .footer .mail-list:hover {
  -webkit-clip-path: polygon(77% 34%, 100% 24%, 100% 100%, 0 100%, 0 23%);
          clip-path: polygon(77% 34%, 100% 24%, 100% 100%, 0 100%, 0 23%);
}

body .footer .mail-list .mail-list-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 18em;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding-top: 4em;
}

body .footer .mail-list .mail-list-inner .form-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 0.2em;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto !important;
  height: 3em;
}

body .footer .mail-list .mail-list-inner .form-style form {
  margin-top: 1em;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

body .footer .mail-list .mail-list-inner .form-style form input {
  outline: none;
  border: none;
  padding-bottom: .5em;
}

body .footer .mail-list .mail-list-inner .form-style form input::-webkit-input-placeholder {
  color: #757575;
}

body .footer .mail-list .mail-list-inner .form-style form input:-ms-input-placeholder {
  color: #757575;
}

body .footer .mail-list .mail-list-inner .form-style form input::-ms-input-placeholder {
  color: #757575;
}

body .footer .mail-list .mail-list-inner .form-style form input::placeholder {
  color: #757575;
}

body .footer .mail-list .mail-list-inner .form-style .mail-icon, body .footer .mail-list .mail-list-inner .form-style .move-icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5em;
}

body .footer .mail-list .mail-list-inner .form-style .mail-icon {
  padding-left: 1em;
}

body .footer .main-footer {
  background-color: #006a4e;
  width: 100%;
  height: 10em;
}

body .mobile-card {
  display: none;
}

body .thanks-section {
  margin-top: 4em;
  background-color: #006a4e;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 95%, 17% 79%, 0 86%, 0% 20%);
          clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 95%, 17% 79%, 0 86%, 0% 20%);
}

body .thanks-section .thanks-section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .thanks-section .thanks-section-inner .thanks-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .thanks-section .thanks-section-inner .thanks-img img {
  width: 100%;
  height: 100%;
}

body .thanks-section .thanks-section-inner .thanks-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3em;
  margin-bottom: 2em;
  padding-bottom: 4em;
}

body .thanks-section .thanks-section-inner .thanks-info p {
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  font-size: 1.3em;
}

body .thanks-section .thanks-section-inner .thanks-info button {
  color: white;
  border: 0.2em solid white;
  width: 50%;
  margin-top: 1em;
}

body .thanks-section .thanks-section-inner .thanks-info button:hover {
  color: #006a4e;
  background-color: white;
}

body .follower-section {
  width: 100%;
  margin: auto;
  text-align: center;
}

body .follower-section .follower-section-inner {
  width: 80%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .follower-section .follower-section-inner a {
  color: #333;
}

body .follower-section .follower-section-inner a i {
  font-size: 3em;
  margin-left: 0.5em;
}

@media screen and (max-width: 40em) {
  body {
    font-size: .8em;
  }
  body .promo-nav .promo-btn, body .promo-nav .terms {
    display: none;
  }
  body .promo-nav .nav h5 {
    margin-top: 3em;
    font-size: 1em !important;
  }
  body .nav-style {
    top: 4.6em !important;
  }
  body .nav_bar .data_bar .menu-bar {
    font-size: 1.3em;
    margin: 0 1em .5em 0;
  }
  body .footer .mail-list {
    padding: 2em;
  }
  body .footer .mail-list .mail-list-inner .form-style {
    width: 100%;
  }
  body .footer .mail-list .mail-list-inner .form-style form input {
    padding-left: .5em;
  }
  body .thanks-section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 95%, 18% 85%, 0 86%, 0% 20%);
            clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 80%, 100% 95%, 18% 85%, 0 86%, 0% 20%);
  }
  body .thanks-section .thanks-section-inner {
    display: block;
  }
  body .thanks-section .thanks-section-inner .thanks-info {
    padding: 2em;
    padding-bottom: 12em;
  }
  body .thanks-section .thanks-section-inner .thanks-info p {
    font-size: 1.5em;
  }
  body .mobile-card {
    display: block;
  }
  body button {
    padding: 0;
  }
  body .best-sellers {
    height: 100vh;
  }
  body .hero-page {
    height: 40em;
  }
  body .hero-page span {
    font-size: 1em;
  }
  body .hero-page .free {
    font-size: .8em;
  }
  body .hero-page img {
    display: none;
  }
  body .hero-page .hero-title {
    left: 0em;
    top: 6em !important;
    width: 100%;
    font-size: 1.5em;
    top: 4em;
  }
  body .hero-page .hero-title h2 {
    font-size: 2em;
  }
  body .hero-page .hero-title button {
    padding: 0.5em 1em;
  }
  .search {
    display: none;
  }
  #section-grid-second .location-card img:hover {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  #section-grid-second .location-card button {
    padding: 0.2em 2em;
  }
  .nav-links-style .nav-links {
    width: 60%;
    z-index: 11;
    top: 7.7em;
    font-size: 1.2em;
    font-weight: bold;
  }
  .nav-links-style .nav-links .search-link {
    display: block;
    padding: 1em 0.5em;
  }
  .destop-card {
    display: none;
  }
  .hamburger {
    margin-top: .6em;
    font-size: .9m;
  }
}
/*# sourceMappingURL=style.css.map */