.search-page{
  .search-items{
    margin-top: 5em;
    width: 100%;
    position: relative;
   
   
  
    .search-items-inner{
      padding: 1em;
      width: 80%;
      height: 10vh;
      background-color: $green-lite;
      margin: auto;
      border-radius: .5em;
      position: fixed;
      right: 6em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      
        form{
          input, select{
            width: 100%;
            outline: none;
            border: none;
            border-radius: .2em;
            padding-left: .5em;
          }
          label{
            color: $main-white;
          }
        }
      
    }
  }
  
  .shop-items{
    
    h5{
      margin-left: 4em;
    }
   padding-top: 10em ;
  }
}