.single-item{

  
  width: 90%;
  margin: auto;
 
  .single-item-inner{
    margin-top: 5em;
   display: grid;
   grid-template-columns: 1fr 1fr;
 box-shadow: 0 0 .5em rgba(0,0,0,0.1);

    .location-card{
     
      .swiper-container{
        width: 100%;
        .swiper-wrapper{
          .swiper-slide{
            img{
              display: block;
              margin: auto;
            }
          }
          
        }
      }
    }
  
    .single-item-info-inner{
      
      margin: auto;
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      h1{
        font-size: 2em;
        font-weight: bold;
      }
     
    }
  
    .item-things{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
     

      & * + *{
        padding: .5em 2em .5em;
      }

      h3{
        padding-top: .5em;
        .line-tru{
          text-decoration: line-through;
          color: gray;
          margin-left: .5em;
        }
      }

      .hover-display{
        display: flex;
        justify-content: space-between;
        
        button{
          padding: .5em 1em;
          cursor: pointer;
        }
        i{
          font-size: 1.4em;
          margin-top: .2em;
          color: $main-style;
          cursor: pointer;
        }
      }

      .share-icon{
        .follower-links{
          display: flex;
          padding: 0em;
        
          i{
            color: rgb(196, 196, 196);
            cursor: pointer;
          }
         
          .fb{
            margin-top: .5em;
          }
        }
      }

      .quantity{
        display: flex;
        h4{
          margin: .5em 1em 0 0;
          }
          .plus, .minus{
            border: .1em solid rgb(233, 233, 233);
            color:  rgb(196, 196, 196);
           padding: .2em .5em;
           font-size: 1em;
           cursor: pointer;
        }
        .one{
        border: .1em solid rgb(233, 233, 233);
         padding: .3em 1em ;
         font-size: .9em;
         cursor: pointer;
      
        }
      }

      .item-underline{
        border-bottom: .1em solid rgb(235, 235, 235);
      }
    }
  
    }
  
    .single-item-footer{
      margin: 1em 0;
      box-shadow: 0 0 .5em rgba(0,0,0,0.1);
      padding: 1em;
      
      .item-desc{
        margin:auto;

        h2{
          font-weight: bold;
          padding-bottom: .5em;
        }
    
        h4{
          font-size: 1.1em;
          line-height: 1.6;
        }
      }
    }

}

@media screen and (max-width:40em){
  .single-item{
    
    .single-item-inner{
      display: block;
    }

    .single-item-info-inner{
      width: 100%;
    padding: 1em;

    .item-things{
     padding-top: 1em;
    }

    }
    
  }
  .item-desc{
    
    margin: auto;
  }
}